.searchInput {
  width: 80%;
  height: 30px;
  font-size: 1rem;
  border-radius: 12px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.searchInput::placeholder {
  text-align: center;
}

@media (min-width: 900px) {
  .searchInput {
    width: 690px;
  }
}
